:root {
    --PhoneInput-color--focus: rgba(0, 0, 0, 0.8);
    --PhoneInputCountrySelectArrow-width: 0.3em;
    --PhoneInputCountrySelect-marginRight: 0em;
    --PhoneInputCountryFlag-height: .8em;
    --PhoneInputCountryFlag-borderWidth: 0px;
}

.PhoneInput {
    width: 100%;
}

.PhoneInputCountrySelectArrow {
    margin-bottom: 3px;
}

.PhoneInputCountry {
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0 0.5rem;
    display: flex;
    gap: 0.5rem;
}