@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --err: #9d2424;
  --border-color: #30363d;
  --btn-bg-color: #39d353;
  --default-text-color: #e6edf3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0d1117;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
