@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Estilos para navegadores baseados em WebKit (Chrome, Safari, etc.) */
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #75777b;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #75777b;
  }

  /* Estilos para Firefox */
  .scrollbar {
    scrollbar-width: thin; /* Opções: auto | thin */
    scrollbar-color: #75777b #f7f4ed; /* thumb color and track color */
  }

  /* Para navegadores que não suportam customizações de scrollbar */
  .scrollbar {
    /* Estilos padrão */
    overflow: auto; /* Para garantir que a barra de rolagem apareça se o conteúdo exceder */
  }
}

:root {
  --err: #9d2424;
  --border-color: #b1b1b1;
  --btn-bg-color: #238636;
  --default-text-color: #e6edf3;

  --primary: #10100e;
  --secondary: #ffffe3;
  --border-hover: #606055;
  --err: #9d2424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #0d1117;
  background: #e6edf3;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 0.375rem;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 0.375rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #676767;
  }
}